html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,th { font-size: 1em; font-weight: normal; font-style: normal; }
ul,ol { list-style: none; }
fieldset,img { border: none; }
caption,th { text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }
iframe { display: block; }
.clear { clear: both; }
html{ overflow-y:scroll; }
div { position: relative; }
em { font-style: italic; }
strong { font-weight: bold; }
p.center { text-align: center; }

/*
    Main
*/

body {
    color: #555;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8;
}
h1, h2, h3, h4, h5 {
    font-family: "Roboto",arial;
}
h1 {
    color: #888;
    font-size: 40px;
    font-weight: 100;
    margin: 10px 0;
    text-align: center;
}
a {
    color: #7090a1;
    text-decoration: none;
    transition: color 0.5s ease 0s;
}
a:hover {
    color: #aaa;
}
#wrapper {
    margin: auto;
    width: 1008px;
}

/*
    Header
*/

#header {
    border-bottom: 10px solid #cfdbe4;
    width: 1008px;
    height: 111px;
    z-index: 100;
}
#logo-wrapper {
    float: left;
    width: 333px;
    height: 111px;
}
#logo {
    height: 111px;
    width: 333px;
    position: absolute;
    left: 0px;
    bottom: 17px;
}
#logo img {
    display: block;
}
#menu {
    float: left;
    width: 675px;
    height: 111px;
    font-size: 18px;
    text-align: right;
    z-index: 100;
    font-size: 0;
}
.menu {
    position: absolute;
    right: 0px;
    bottom: 20px;
}
#menu li {
    font-size: 16px;
    display: inline-block;
    position: relative;
    transition: background 0.5s ease 0s;
}
#menu li a {
    display: inline-block;
    padding: 5px 13px;
}
#menu li:hover {
    background: none repeat scroll 0 0 #7090a1;
}
#menu li:hover a {
    color: #fff;
}
#menu li.selected {
    background: none repeat scroll 0 0 #7090a1;
}
#menu li.selected a {
    color: #cfdbe4;
}
#menu li ul {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.96);
    display: none;
    left: 0;
    padding: 0;
    position: absolute;
    text-align: left;
    width: 260px;
}
#menu li:hover ul {
    display: block;
}
#menu li ul li {
    display: block;
    margin-left: 0;
}
#menu li:hover ul li a {
    color: #666;
}
#menu li:hover ul li:hover a {
    color: #fff;
}
#menu li ul li:hover {
    background: none repeat scroll 0 0 #b7c9d3;
}

/*
    Container
*/

#container {
    width: 1008px;
}
.container-padd {
    padding-top: 20px;
    width: 1008px;
}
#container hr {
    display: block;
    margin: 0px;
    padding: 0px;
    border: none;
    height: 10px;
    background-color: #cfdbe4;
}
#container .display-block {
    display: block;
}
#container .display-inline-block {
    display: inline-block;
}
#container .col-2 {
    width: 484px;
    float: left;
    padding-right: 20px;
}
#container .col-2-right {
    padding-right: 0px;
    padding-left: 20px;
}

/*
    Element styles
*/

#container  h1,
#container  h2,
#container  h3 {
    color: #7090a1;
    font-weight: 100;
    margin: 10px 0;
}
#container  h1 {
    font-size: 40px;
}
#container  h2 {
    font-size: 32px;
}
#container p {
    font-size: 14px;
    padding-bottom: 13px;
}
.block {
    background-color: #cfdbe4;
    padding: 15px;
    margin-bottom: 15px;
    color: #7090a1;
    padding-bottom: 2px;
}

/*
    Footer
*/

#footer {
    background: none repeat scroll 0 0 #b7c9d3;
    color: #fff;
    margin-top: 40px;
    padding: 20px 0;
    width: 100%;
}
#footer h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 10px;
}
#footer p, #footer a {
    color: #fff;
    font-size: 15px;
    line-height: 24px;
}
#footer a:hover {
    color: #7090a1;
}
#footer strong {
    font-weight: 600;
}
#footer-inner {
    margin: auto;
    width: 1008px;
}
.footer-column {
    float: left;
    width: 504px;
}
#map {
    width: 504px;
    height: 200px;
    float: right;
}

/*
    Priser
*/

#price {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
}
.price-element  {
    float: left;
    width: 199px;
    text-align: center;
    border-left: 1px solid #DDDCD8;
}
.price-top {
    background-color: #cfdbe4;
}
#container .price-top h2 {
    margin-top: 0;
}
.price-circle {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    font-size: 20px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    background: #7090a1;
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.circle-1 {
    background-color: #aaa;
}
.price-body .info {
    font-size: 18px;
    font-weight: 600;
}
.price-button {
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #989A8F;
    padding: 10px 0px;
    border-radius: 6px;
    color: #989A8F;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
    font-size: 17px;
    width: 165px;
}

/*
    Order
*/

#order {
    width: 600px;
    margin: 0 auto;
}
#order .order-left,
#order .order-right {
    float: left;
    width: 200px;
}
#order .order-right {
    width: 400px;
}
#order .order-block.order-block-top-padding {
    padding-top: 15px;
}
#order .order-block.order-block-unpoco-top-padding {
    padding-top: 8px;
}
#order input[type="text"] {
    background: none;
    border: none;
    width: 380px;
    background-color: #7090a1;
    padding: 9px 10px;
    font-family: "Open Sans",sans-serif;
    color: #fff;
}
#order .ui-widget {
    font-family: "Open Sans",sans-serif;
    color: #555;
    font-size: 16px;
    font-weight: 300;
}
#calendar .ui-datepicker {
    background: #cfdbe4;
    border-radius: 0px;
    border: none;
    padding: 0px;
    width: 400px;
}
#calendar .ui-datepicker-header {
    background: none;
    border-radius: 0px;
    background-color: #7090a1;
    border: none;
    padding: 0px;
}
#calendar .ui-widget-header,
#calendar .ui-datepicker  th,
#calendar .ui-datepicker-calendar a {
    font-weight: 300;
}
#calendar .ui-datepicker .ui-datepicker-prev,
#calendar .ui-datepicker .ui-datepicker-next {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    top: 0px;
    left: 0px;
    height: 36px;
    width: 36px;
}
#calendar .ui-datepicker .ui-datepicker-next {
    left: auto;
    right: 0px;
}
#calendar  .ui-widget-header .ui-state-hover {
    background-color: #b7c9d3;
    border-radius: 0px;
}
#calendar  .ui-widget-header .ui-state-hover .ui-icon {
    background-image: url('images/ui-icons_ffffff_256x240.png');
}
#calendar .ui-datepicker-calendar {
    margin: 0px;
}
#calendar .ui-datepicker-calendar a {
    border: none;
}
#calendar .ui-state-default {
    background: #fff;
}
#calendar .ui-state-active {
    background: #b7c9d3;
    color: #7090a1;
}
#calendar .ui-state-hover {
    background: #b7c9d3;
    color: #fff;
}
#calendar .ui-datepicker-title {
    font-size: 14px;
    line-height: 1.8;
    padding: 0.4em 2.1em 0.4em 1em;
    font-weight: 600;
}
#order .ui-selectmenu-button {
    background: #7090a1;
    border-radius: 0px;
    border: none;
    color: #fff;
}
#order .ui-selectmenu-button .ui-icon {
    background-image: url('images/ui-icons_ffffff_256x240.png');
}
#order .ui-selectmenu-button .ui-selectmenu-text {
    font-size: 14px;
    line-height: 1.8;
}
.ui-selectmenu-menu .ui-menu {
    background: none;
    background-color: #fff;
    border-radius: 0px;
    border: 1px solid #7090a1;
    padding-bottom: 0px;
}
.ui-selectmenu-menu .ui-menu-item {
    background: none;
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.8;
    padding: 0.4em 2.1em 0.4em 1em;
}
.ui-selectmenu-menu .ui-state-focus {
    background: none;
    border: none;
    margin: 0px;
    background-color: #cfdbe4;
    color: #7090a1;
}

#submit-order {
    font-size: 14px;
    line-height: 1.8;
    color: #7090a1;
    display: block;
    overflow: hidden;
    text-align: center;
    width: 50%;
}

/*
    Remove stuff from the map, hax0r
*/

#map .gm-style > div > a > div,
#map .gm-style-cc {
    display: none;
}

/*
    Frontpage
*/

#frontpage {
    width: 1008px;
}
#frontpage h1,
#frontpage h2 {
    position: absolute;
    font-style: italic;
}
#frontpage h1 {
    left: 20px;
    top: 50px;
    font-size: 90px;
}
#frontpage h2 {
    left: 20px;
    top: 20px;
    font-size: 40px;
}
#frontpage-info {
    position: absolute;
    left: 20px;
    bottom: 0px;
    color: #86adc1;
}
#frontpage-info p {
    line-height: 1em;
}

/*
    Employee
*/

.employee-text, .employee-image {
    float: left;
}
.employee-text {
    width: 703px;
    padding-right: 15px;
}
.employee-text.emplyee-inverted {
    padding-left: 15px;
    padding-right: 0px;
}
.employee-image {
    width: 290px;
    text-align: center;
}
#container .employee-image p {
    font-size: 14px;
    line-height: 20px;
}
#container .employee-text h2 {
    margin-top: 0px;
    line-height: 1em;
}

/*
    Bottom
*/

#bottom {
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
#bottom p {
    font-size: 13px;
}
#bottom span {
    padding-left: 7px;
    padding-right: 11px;
}
#bottom span.first {
    padding-left: 0px;
    font-weight: 600;
    color: #7090a1;
}
#bottom span.last {
    padding-right: 0px;
}

/*
    DIYS
*/

#diys {
    width: 590px;
    margin: 0 auto;
    text-align: center;
}
#diys h2 {
    margin-top: 0px;
    line-height: 35px;
}
#diys .block {
    padding-bottom: 15px;
}